*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#050505;

    color:white;

    font-family: "Manrope", sans-serif;

    overflow:hidden;

}

.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    overflow:hidden;

}

.background-glow{

    position:fixed;

    inset:-30%;

    background:

    radial-gradient(circle at center,
    rgba(0,170,255,.12),
    transparent 60%);

    animation:glow 12s ease-in-out infinite alternate;

}

@keyframes glow{

from{

transform:scale(1);

opacity:.4;

}

to{

transform:scale(1.4);

opacity:.9;

}

}

.hero-bg-text{

    position:absolute;

    font-size:24vw;

    font-weight:900;

    color:white;

    opacity:.025;

    letter-spacing:.15em;

    user-select:none;

}

.content{

    position:relative;

    z-index:2;

    text-align:center;

    animation:heroFade 2.5s ease;

}

h1{

    font-size:clamp(72px,12vw,180px);

    letter-spacing:.12em;

    font-weight:700;

}


p{

    margin-top:35px;

    max-width:620px;

    margin-left:auto;

    margin-right:auto;

    color:#c8c8c8;

    font-size:clamp(18px,2vw,28px);

    line-height:1.6;

    letter-spacing:.08em;

}

}

.scroll-indicator{

    position:absolute;

    bottom:40px;

    left:50%;

    transform:translateX(-50%);

}

.scroll-indicator span{

    display:block;

    width:24px;

    height:40px;

    border:2px solid rgba(255,255,255,.35);

    border-radius:20px;

    position:relative;

}

.scroll-indicator span::after{

    content:"";

    width:6px;

    height:6px;

    background:white;

    border-radius:50%;

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    top:8px;

    animation:scroll 2s infinite;

}

@keyframes scroll{

0%{

opacity:0;

transform:translate(-50%,0);

}

40%{

opacity:1;

}

100%{

opacity:0;

transform:translate(-50%,16px);

}

}

@keyframes heroFade{

from{

opacity:0;

transform:translateY(35px);

}

to{

opacity:1;

transform:translateY(0);

}

}
